<div class="sky-gradient {{timeOfDay}} main-view-container">
  <div [ngClass]="{
  'moon':timeOfDay === 'night',
  'sun':timeOfDay === 'day'}"></div>
  <div *ngIf="timeOfDay !== 'night'">
    <img alt="silhouette-buildings" class="silhouette" src="assets/building.png">
  </div>
  <div class="time-location-container background-container"
       [ngClass]="{'stars': timeOfDay === 'night'}">
    <div class="time-location">
      <h1 class="location-text">{{locationData}} </h1>
      <h1 class="temperature-text">{{weatherData.main.temp | round}}°</h1>
      <app-weather-details [weatherData]="weatherData"></app-weather-details>
    </div>
  </div>

</div>


